%meta{:charset => "utf-8"}
%title= "#{@title_tertiary || @title} | #{app(:site)}"

%meta{ :content => "#{app(:site)}: #{app(:tagline)}", :name => "#{app(:tagline)}"}

%meta{ :content => "width=device-width", :name => "viewport"}
%meta{ :name => "apple-mobile-web-app-capable", :content => "yes"}

%link{ :rel => "icon",                          :href => image_path('user/favicon.png')}
%link{ :rel => "apple-touch-icon-precomposed",  :href => image_path('user/apple-touch-icon.png')}

/   Include our main bootstrap css file, which includes
/   everything we need to get up & running.
%link{:href => stylesheet_path('inkpress'),       :media => "all", :rel => "stylesheet"}
= yield_content :styles

/   Google Web Fonts. 
/   Their free, use 'em..
%link{  :href => google_fonts_url, 
        :media => "all", 
        :rel => "stylesheet"}

/ jQuery! 
%script{ :src => javascript_path("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js") }

/[if lt IE 9]
  %script{ :src => javascript_path('//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js') }